
h1{
    font-family: sans-serif;
}

#title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

#title img{
    max-width: 15vw;
    max-height: 15vh;
    margin-right:1em;
}

#title h1{
    font-size: 4em;
}

#video-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#video-container video{
   width: 60vw;
   height: 50vh;
}